.copyright__name {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 32px;
}
.copyright__title {
  color: rgba(255, 255, 255, 0.3);
}
.copyright__content {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 58px;
}
.copyright__text {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}
.copyright__author {
  font-style: italic;
}