.menu__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
 
}
.menu__link {
  text-decoration: none;
  white-space: nowrap;


  &:hover {
  color: #ff9a00;
  transition: 1s;
}
}
.menu__header {
   @include tablets {
    display: none;
  }
}