.middle-section {
  background: url("~images/bg/Фон.png") center top / cover no-repeat;

    &::after {
      position: sticky;
      content: url("~images/bg/Руки.png");
      bottom: 500px;
     }            
 }