.middle-section {
  position: relative;
    @include phones {
    padding: 90px 0;
  }
}
.middle-section__triangles-top {
  height: 100px;
  bottom: 100%;
  width: 100%;
}
.middle-section__triangles-bottom {
  height: 100px;
  top: 100%;
  width: 100%;
}
