.round-btn {
  width: 45px;
  height: 45px;
  border: 1px solid;
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: transparent;

   &:hover {
  color: #dfb56d;
  transition: 1s;
  box-shadow: 1px 1px 8px 1px #dfb56d;
}
 @include tablets {
    width: 53px;
    height: 53px;
  }
}
.round-btn--pointer--right {
  background: url("~images/content/l.png")center no-repeat;
}
.round-btn--pointer--left {
  background: url("~images/content/p.png")center no-repeat;
}