.round-btn {
  width: 45px;
  height: 45px;
  border: 1px solid;
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: transparent;

   &:hover {
  color: #dfb56d;
  transition: 1s;
}
}
.round-btn--pointer--right {
  background: url("~images/content/l.png")center no-repeat;
}
.round-btn--pointer--left {
  background: url("~images/content/p.png")center no-repeat;
}