.section-title {
 font-weight: bold;
 font-size: 36px;
 color: #333C49;
 padding-top: 179px;
 padding-bottom: 101px;
 @include desktop {
  padding-bottom: 37px;
 } 
 @include tablets {
   padding-top: 136px;
   padding-bottom: 52px;
  
  }
  @include phones {
    font-size: 26px;
    text-align: center;
    padding-top: 32px;
  }
 
 
}