.square-btns {
  min-height: 50px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 50%;
  background: #333C49;
}
.square-btns__item {
  width: 49px;
  height: 49px;
    @include tablets {
    width: 50px;
    height: 51px;
  }
}
.square-btns__item--prev {
  background: url("~images/content/l.png")center no-repeat;
}
.square-btns__item--next {
  background: url("~images/content/p.png")center no-repeat;
}