.thumbs {
  position: relative;
  display: flex;
}

.thumbs__pic {
 max-width: 100%;
}
.thumbs__link {
  padding: 0px;
    &:hover {
    border: 3px solid transparent #DC9322;
    box-sizing: border-box;
}
}