.edit-line-component {
  &.blocked {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
  }
  
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 1px;
  margin: 0px;
}

.input {
  width: 66%;
}

.buttons {
  display: flex;
}

.button-icon {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
.text {
  color: #414C63;
  font-size: 18px;
}